<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="shortcut icon" href="./layout/images/fish_n_economy.png" />
    <link type="text/css" rel="stylesheet" href="./layout/css/pages.css" />
    <meta charset="UTF-8">
    <meta name="title" content="Fish n Economy" />
    <meta name="image" content="https://cdn.discordapp.com/emojis/578581173329068042.png?v=1" />
    <meta name="description" content="Website for the discord bot Fish n Economy." />
    <meta name="theme-color" content="#ff88d9">
    <meta property="og:title" content="Fish n Economy" />
    <meta property="og:url" content="https://discordbots.org/486926264800903171/vote" />
    <meta property="og:description" content="Website for the discord bot Fish n Economy.">
    <meta property="og:image"
        content="https://images.discordapp.net/avatars/486926264800903171/2c7b96a907eb0e05463f5f57afb38c6e.png?size=512" />
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            margin: 0;
            background-color: #36393f;
            color: white;
        }
    </style>
</head>

<body>
    <div class="header">
        <h3 id="title">Fish n Economy</h3>
        <br>
    </div>
    <br>
    <div class="pos">
        <a href="./pages/vote.html"><button type="button" class="testbutton">Vote/Invite</button></a>
        <a href="./pages/invite.html"><button type="button" class="testbutton">API</button></a>
        <a href="./pages/invite.html"><button type="button" class="testbutton">Users</button></a>
        <br>
    </div>
    <br>
    <br>
    <div class="team">
        <div class="team-i">
            <h2>Fish n Economy Team</h2>
            <div class="team-b">
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= nutAv %>" width="75px;">
                    <div class="team-n" id="n1"><%= nutName %></div>
                </div>
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= shiAv %>" width="75px;">
                    <div class="team-n" id="n2"><%= shiName %></div>
                </div>
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= spaAv %>" width="75px;">
                    <div class="team-n" id="n3"><%= spaName %></div>
                </div>
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= nicAv %>" width="75px;">
                    <div class="team-n" id="n4"><%= nicName %></div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://discordapp.com/widget?id=523546802088181761&theme=dark" width="350" height="500"
        allowtransparency="true" frameborder="0"></iframe>
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        new Crate({
            server: '523546802088181761',
            channel: '523546802612338703',
            shard: 'https://disweb.deploys.io'
        })
    </script>
</body>

</html>