<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="shortcut icon" href="./layout/images/fish_n_economy.png" />
    <link type="text/css" rel="stylesheet" href="./layout/css/main.css" />
    <meta charset="UTF-8">
    <meta name="title" content="Fish n Economy" />
    <!-- preview -->
    <meta name="theme-color" content="#ff88d9">
    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" content="Fish n Economy">
    <meta name="twitter:description" content="Official website for the Discord bot 'Fish n Economy'!">
    <meta name="twitter:image"
        content="https://cdn.discordapp.com/attachments/553650864083173386/603297386562977825/2c7b96a907eb0e05463f5f57afb38c6e.png">
    <meta name="author" content="maxi#1829">
    <meta property="og:type" content="website">
    <meta property="og:site_name" value="Fish n Economy">
    <meta property="og:title" content="maxi#1829">
    <meta property="og:url" content="https://fish-n-economy.ga/">
    <meta property="og:description" content="Official website for the Discord bot 'Fish n Economy'!">
    <meta property="og:image"
        content="https://cdn.discordapp.com/attachments/553650864083173386/603297386562977825/2c7b96a907eb0e05463f5f57afb38c6e.png">
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            margin: 0;
            background-color: #36393f;
            color: white;
        }
    </style>
</head>

<body>
    <div class="header">
        <h3 id="title">Fish n Economy</h3>
        <br>
    </div>
    <br>
    <div class="pos">
        <a href="./pages/vote-invite.html"><button type="button" class="testbutton">Vote/Invite</button></a>
        <a href="./html/info/apiInfo.html"><button type="button" class="testbutton">API</button></a>
        <br>
    </div>
    <br>
    <br>
    <div class="team">
        <div class="team-i">
            <h2>Fish n Economy Team</h2>
            <div class="team-b">
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= nutAv %>" width="75px;">
                    <div class="team-n" id="n1"><%= nutName %></div>
                </div>
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= shiAv %>" width="75px;">
                    <div class="team-n" id="n2"><%= shiName %></div>
                </div>
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= spaAv %>" width="75px;">
                    <div class="team-n" id="n3"><%= spaName %></div>
                </div>
                <div class="team-a">
                    <img style=" border-radius: 50% !important;width: 200px;" src="<%= nicAv %>" width="75px;">
                    <div class="team-n" id="n4"><%= nicName %></div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://discordapp.com/widget?id=523546802088181761&theme=dark" width="350" height="500"
        allowtransparency="true" frameborder="0"></iframe>
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        new Crate({
            server: '523546802088181761',
            channel: '523546802612338703',
            shard: 'https://disweb.deploys.io'
        })
    </script>
</body>

</html>